# Olav
Olav Selnes Lorentzen <olavslo@ntnu.no>
Olav Selnes Lorentzen <olav.selnes.lorentzen@hotmail.com>

# Eduard
Eduard Prokhorikhin <eduardpr@ntnu.no>

# Trygve
Trygve Nummedal Os <trygno@ntnu.no>
Trygve Nummedal Os <trygvenos@gmail.com>

# Maria
Maria Hurtado Beisvåg <marihbei@ntnu.no>
   
